* {
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8fbff;
  color: #283959;
}

/*navbar which includes high score and timer*/
header {
  display: flex;
  padding: 20px 20px;
  justify-content: space-between;
  background-color: #30343e;
  color: #f8fbff;
  text-decoration: none;
}
.highscores {
  color: #f8fbff;
  cursor: pointer;
}

.highscores:link,
.highscores:visited,
.highscores:active {
  text-decoration: none;
  cursor: pointer;
}

.highscores:hover {
  color: #f8fbff;
  font-weight: bold;
}

header div {
  padding: 20px;
  font-size: 1em;
}

.timer {
  text-decoration: none;
}
/*body of the file (everything below the navbar)*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*start page container*/

.container {
  position: relative;
  top: 25%;
  padding: 50px;
  margin: 0 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #30343e;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.questions {
  justify-content: center;
  margin: 10px;
  align-items: center;
}

#start {
  font-size: 2em;
  justify-content: center;
  margin: 10px;
}

button {
  background-color: #fcc945;
  box-shadow: 2px 1px 3px #30343e;
  color: #283959;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
button a {
  color: #283959;
}

button:hover {
  background-color: #283959;
  color: #f8fbff;
  cursor: pointer;
}

/*quiz started and quiz questions*/

.box-title {
  margin-bottom: 10px;
  font-size: x-large;
}

ul {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  background: #fcc945;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: #283959;
  cursor: pointer;
}

ul li:hover {
  opacity: 50%;
}

ul li:active {
  background: #283959;
  color: #f8fbff;
}
